# API
fastapi
uvicorn[standard]
python-dotenv
loguru
requests
python-multipart

# ML
torch
torchvision
Pillow
numpy

# Database
boto3
psycopg2-binary
sqlalchemy
minio

# Monitoring, asynchronous tasks, and distributed task queue
celery[redis,rabbitmq]
flower

# Monitoring
prometheus_client
prometheus-fastapi-instrumentator

# Testing & Coverage
pytest
pytest-cov
coveralls